<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Курсы на SkillBox</title>
</head>
<body>
    <h1>
        Прошел все курсы на SkillBox. Продаю готовые домашние задания
    </h1>
    <ul>
        <li>
            <a href="advertisement-python-part-1" target="_blank">Основы Python. Часть 1</a>
        </li>
        <li>
            <a href="advertisement-python-part-2" target="_blank">Основы Python. Часть 2</a>
        </li>
        <li>
            <a href="advertisement-python-django" target="_blank">Python-фреймворк Django</a>
        </li>
        <li>
            <a href="advertisement-python-advanced" target="_blank">Python Advanced</a>
        </li>
        <li>
            <a href="advertisement-web-layout" target="_blank">Веб-вёрстка "Базовый уровень"</a>
        </li>
    </ul>
</body>
</html>